Package: MWC-QT-WALLET
Version: VERSION_VALUE
Section: base
Priority: optional
Architecture: amd64
Depends:
Maintainer: Christopher Gilliard (christopher.gilliard@gmail.com)
Description: MWC-QT-WALLET
 Graphical User Interface Wallet for the MWC Cryptocurrency.
